@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<head>
    <title>Image file manager</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/favicon.ico" rel="icon" />
    <link href="~/css/compiled" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a class="breadcrumb">&emsp;Image file manager</a>
                    <a class="breadcrumb">Last time action</a>
                    <a class="breadcrumb" data-binding-field="updated"></a>
                </div>
            </div>
        </nav>
    </div>
    <div class="screen container">
    </div>
    <script src="~/js/compiled"></script>
</body>