@{
    Layout = null;
}
<div class="row">
    <ul class="pagination col s12">
        <li data-model-action="decrement" data-model-submit="true" class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {{pagination}}
        <li data-model-action="increment" data-model-submit="true" class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
    <div class="col s12">
    </div>
</div>