
@{
    Layout = null;
}
<div class="row">
    <h1 class="col s12 m8">Storage</h1>
</div>
<div class="row">
    <div class="col s12">You want to go <button data-model-action="back" class="btn btn-small">back</button>?</div>
</div>
<hr />
<div class="row">
    <div class="col s12 m6 input-field">
        <input type="text" name="Path" value="" />
        <label for="Path">Path</label>
    </div>
    <div class="col s12 m6">
        <button type="submit" data-controller-action="api/images/storage" class="btn btn-large fullwidth">Save</button>
    </div>
</div>