@{
    Layout = null;
}
<div class="row">
    <h1 class="col s12 m8">Uploaded images</h1>
</div>
<hr />
<div data-binding-field="image-grid" data-binding-stage="html"></div>
<hr />
<div class="row">
    <div class="col m12 s12 paging">
    </div>
</div>
<div class="row">
    <div class="col m4 s12">
        <button class="btn fullsize" data-model-action="sort" data-model-param-sort="ascending">Sort by created acsending</button>
    </div>
    <div class="col m4 s12">
        <button class="btn fullsize" data-model-action="sort" data-model-param-sort="descending">Sort by created descending</button>
    </div>
    <div class="col m2 s12">
        <button class="btn fullsize" type="submit">Upload</button>
    </div>
    <div class="col m2 s12">
        <button class="btn fullsize" data-model-action="changeStorage">Storage</button>
    </div>
</div>