@{
    Layout = null;
}
<div class="row">
    <h1 class="col s12 m8">Uploaded images</h1>
</div>
<hr />
<div data-binding-field="image-grid" data-binding-stage="html"></div>
<hr />
<div class="row">
    <div class="col offset-m9 m3 s12">
        <button class="btn fullsize" type="submit">Go to uploading</button>
    </div>
</div>